$generic-card: #FFFFFF;
$secondary-text: #666666;

$artificer: #635331;
$bard: #AB7DAB;
$cleric: #8B8C8E;
$druid: #79853D;
$paladin: #AF9643;
$ranger: #49775A;
$sorcerer: #C25359;
$warlock: #7944AE;
$wizard: #265CB6;
$other: #E2E4E1;
